body {
    font-family: "Times New Roman", Georgia, Serif;
}

h1 {
    font-family: "Playfair Display";
    letter-spacing: 5px;
}

h2 {
    font-family: "Playfair Display";
    letter-spacing: 5px;
}

h3 {
    font-family: "Playfair Display";
    letter-spacing: 5px;
}

h4 {
    font-family: "Playfair Display";
    letter-spacing: 5px;
}

h5 {
    font-family: "Playfair Display";
    letter-spacing: 5px;
}

h6 {
    font-family: "Playfair Display";
    letter-spacing: 5px;
}